((define "body"))
<section class="results">
    <div class="flex" id="search-box">
        <h1 class="section-title">My Library</h1>
    </div>
    <div class="list-book">
        <div class="book" v-for="book in googleBookList" :key="book.BookId">
            <img class="thumbnail" v-if="book.volumeInfo.imageLinks" :src="book.volumeInfo.imageLinks.smallThumbnail"
                alt="cover" width="128"
                :onclick="'document.location = &quot;view-book.html?id=' + book.id + '&quot;'" />
            <img class="thumbnail" v-if="!book.volumeInfo.imageLinks" src="/static/no_cover_thumb.gif" alt="cover" width="128"
                :onclick="'document.location = &quot;view-book.html?id=' + book.id + '&quot;'" />
            </a>
            <div class="book-info">
                <h3 class="book-title" :onclick="'document.location = &quot;view-book.html?id=' + book.id + '&quot;'">
                    <a>{{ book.volumeInfo.title }}</a>
                </h3>
                <div v-if="book.volumeInfo.authors" class="book-authors"
                    :onclick="'document.location = &quot;view-book.html?id=' + book.id + '&quot;'">{{
                    book.volumeInfo.authors[0] }}
                </div>
                <button class="removeLibrary" @click="">Remove</button>
            </div>
        </div>
    </div>
</section>
</main>
<script>
    const backdrop = document.querySelector('.backdrop');
    const sideDrawer = document.querySelector('.mobile-nav');
    const menuToggle = document.querySelector('#side-menu-toggle');

    function backdropClickHandler() {
        backdrop.style.display = 'none';
        sideDrawer.classList.remove('open');
    }

    function menuToggleClickHandler() {
        backdrop.style.display = 'block';
        sideDrawer.classList.add('open');
    }

    backdrop.addEventListener('click', backdropClickHandler);
    menuToggle.addEventListener('click', menuToggleClickHandler);

    const RootComponent = {
        data() {
            return {
                id: 0,
                googleBookList: []
            }
        },
        methods: {
        },
        created() {
            var self = this;

            const urlParams = new URLSearchParams(window.location.search);
            self.id = urlParams.get('id')

            axios.get(`/book-list?id=` + self.id).then(response => {
                response.data.forEach(library =>
                    axios.get('https://www.googleapis.com/books/v1/volumes/' + library.googlebookid).then(response => {
                        self.googleBookList.push(response.data);
                    })
                );
            });
        }
    }

    const app = Vue.createApp(RootComponent)
    const vm = app.mount('#app')
</script>
((end))