<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App | Home</title>
    <script src="https://www.unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <nav>
        <div class="backdrop"></div>
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="./home.html">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a href="./mylibrary.html">My Library</a>
                    </li>
                    <li class="main-header__item">
                        <a href="./results.html">Search</a>
                    </li>
                </ul>
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="./index.html">
                            <button type="submit">Logout</button></a>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>

        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a href="./home.html">Home</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="./mylibrary.html">My Library</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="./results.html">Search</a>
                </li>
                <li class="mobile-nav__item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </nav>
    <div class="hero-img">
        <img src="Books-Hero-Image.jpg" alt="book hero image">
    </div>
    <main id="app">

        <!-- STRETCH GOAL 
        <h1>Books For You</h1>
        Insert statement if recommended is available then
        <section id="recommended" class="results">
            <div class="list-book recommended">
                <div class="prompt">
                    <div class="loader"></div>
                </div>
            </div>
        </section>
        Insert else statement
        <h2>No Book Recommendations Yet!</h2>
         -->

        <section class="results" v-for="genre in genres">
            <div class="flex" id="search-box">
                <h1 class="section-title">{{genre}}</h1>
                <div>
                    <button id="{{genre}}-viewAll" class="seeMore"
                        :onclick="'document.location = &quot;results.html?genre=' + genre + '&quot;'">See More
                    </button>
                </div>
            </div>
            <div class="list-book">
                <div class="book" v-for="book in googleBookList[genre].items" :key="book.BookId"
                    :onclick="'document.location = &quot;view-book.html?id=' + book.id + '&quot;'">
                    <img class="thumbnail"
                            v-if="book.volumeInfo.imageLinks" :src="book.volumeInfo.imageLinks.smallThumbnail"
                            alt="cover" width="128" />
                        <img class="thumbnail" v-if="!book.volumeInfo.imageLinks" src="no_cover_thumb.gif" alt="cover"
                            width="128" />
                    </a>
                    <div class="book-info">
                        <h3 class="book-title">
                            <a :href="book.volumeInfo.previewLink" target="_blank">{{ book.volumeInfo.title }}</a>
                        </h3>
                        <div v-if="book.volumeInfo.authors" class="book-authors">{{ book.volumeInfo.authors[0] }}
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%">
        </section>

    </main>
    <div class="footer">&copy; 2022 | Created with <a href="https://go.dev/">Go</a> | Pierre Aguirre</div>
</body>

<script>
    const backdrop = document.querySelector('.backdrop');
    const sideDrawer = document.querySelector('.mobile-nav');
    const menuToggle = document.querySelector('#side-menu-toggle');

    function backdropClickHandler() {
        backdrop.style.display = 'none';
        sideDrawer.classList.remove('open');
    }

    function menuToggleClickHandler() {
        backdrop.style.display = 'block';
        sideDrawer.classList.add('open');
    }

    backdrop.addEventListener('click', backdropClickHandler);
    menuToggle.addEventListener('click', menuToggleClickHandler);

    const RootComponent = {
        data() {
            return {
                email: "",
                password: "",
                googleBookList: [],
                genres: ["Fiction", "History", "Mystery", "Self-Help", "Romance", "Poetry", "Science Fiction", "Non-Fiction", "Thriller", "Horror", "Music"]
            }
        },
        methods: {
        },
        created() {
            var self = this;

            self.genres.forEach(genre => {
                self.googleBookList[genre] = [];
                axios.get(`https://www.googleapis.com/books/v1/volumes?maxResults=4&q=` + genre).then(
                    response => {
                        self.googleBookList[genre] = response.data;
                    })
            });
        }
    }
    const app = Vue.createApp(RootComponent)
    const vm = app.mount('#app')

</script>

</html>