<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App | Book View</title>
    <script src="https://www.unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <nav>
        <div class="backdrop"></div>
        <header class="main-header">
            <button id="side-menu-toggle">Menu</button>
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="./home.html">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a href="./mylibrary.html">My Library</a>
                    </li>
                    <li class="main-header__item">
                        <a href="./results.html">Search</a>
                    </li>
                </ul>
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="./index.html">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>

        <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a href="./home.html">Home</a>
                </li>
                <hr width="75%">
                <li class="mobile-nav__item">
                    <a href="./mylibrary.html">My Library</a>
                </li>
                <hr width="75%">
                <li class="mobile-nav__item">
                    <a href="./results.html">Search</a>
                </li>
                <hr width="75%">
                <li class="mobile-nav__item">
                    <a href="./index.html">Logout</a>
                </li>
            </ul>
        </nav>
    </nav>
    <main id="app">

        <section>
            <div class="view-book">
                <img class="view-thumbnail" v-if="book.volumeInfo.imageLinks"
                    :src="book.volumeInfo.imageLinks.smallThumbnail" alt="cover" width="300" />
                <img class="thumbnail" v-if="!book.volumeInfo.imageLinks" src="no_cover_thumb.gif" alt="cover"
                    width="300" />
                <div class="book-info">
                    <h1 class="book-title">{{ book.volumeInfo.title }}</h1>
                    <div v-if="book.volumeInfo.authors" class="book-authors">by {{ book.volumeInfo.authors[0] }}
                    </div>
                    <h4 class="book-published">Published: {{ book.volumeInfo.publishedDate }}</h4>
                    <div class="options">
                        <button class="amazon"><a
                                :href="'https://www.amazon.com/s?k=' + book.volumeInfo.title + '&i=stripbooks'"
                                target="_blank">Search on Amazon</a></button>
                        <button class="library"><a
                                :href="'https://catalog.slcolibrary.org/polaris/search/searchresults.aspx?ctx=1.1033.0.0.1&type=Keyword&term=' + book.volumeInfo.title"
                                target="_blank">Search County Library</a></button>
                    </div>
                    <button class="mylibrary" @click="addToLibrary(id)">+ My Library</button>
                </div>
                <!-- STRETCH
                Add Recommended Section of Books by Same Author
                <div class="recommended">
                    <h4>More by this Author:</h4>
                    <div class="recommend-list-book">
                        <div class="recommended-book">
                            <img class="recommended-thumbnail" src="no_cover_thumb.gif" alt="cover" width="64" />
                            <div class="recommended-book-info">
                                <h3 class="recommended-book-title">
                                    <a>{{ book.volumeInfo.title }}</a>
                                </h3>
                                <div v-if="book.volumeInfo.authors" class="book-authors">{{ book.volumeInfo.authors[0]
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <hr>
            <section class="book-view-info">
                <div>
                    <h3>Description</h3>
                    <div v-html="book.volumeInfo.description"></div>
                </div>
                <div>
                    <h3>Additional Info</h3>
                    <table class="addInfo">
                        <tr v-if="book.volumeInfo.categories">
                            <td class="title">Category:</td>
                            <td class="content">
                                {{ book.volumeInfo.categories[0] }}
                            </td>
                        </tr>
                        <tr v-if="book.volumeInfo.averageRating">
                            <td class="title">Rating:</td>
                            <td class="content">
                                {{ book.volumeInfo.averageRating }}/5 ({{
                                book.volumeInfo.ratingsCount }}
                                reviews)
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Pages:</td>
                            <td class="content">
                                {{ book.volumeInfo.printedPageCount }}
                            </td>
                        </tr>
                        <tr>
                            <td class="title">ISBN:</td>
                            <td class="content">
                                <div>{{ book.volumeInfo.industryIdentifiers[0].identifier }}</div>
                                <div>{{ book.volumeInfo.industryIdentifiers[1].identifier }}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </section>

    </main>
    <div class="footer">
        <p class="top"><a href="#top">Back to top</a></p>
        <p>&copy; 2022 | Created with <a href="https://go.dev/">Go</a> | Pierre Aguirre</p>
    </div>

</body>
<script>
    const backdrop = document.querySelector('.backdrop');
    const sideDrawer = document.querySelector('.mobile-nav');
    const menuToggle = document.querySelector('#side-menu-toggle');

    function backdropClickHandler() {
        backdrop.style.display = 'none';
        sideDrawer.classList.remove('open');
    }

    function menuToggleClickHandler() {
        backdrop.style.display = 'block';
        sideDrawer.classList.add('open');
    }

    backdrop.addEventListener('click', backdropClickHandler);
    menuToggle.addEventListener('click', menuToggleClickHandler);

    const RootComponent = {
        data() {
            return {
                id: '',
                book: {}
            }
        },
        methods: {
            addToLibrary(id) {
                axios.post(`/add-to-library`, {
                    userid: 1,
                    googlebookid: id
                });
            }
        },
        created() {
            var self = this;
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            self.id = urlParams.get('id');
            axios.get(`https://www.googleapis.com/books/v1/volumes/` + self.id).then(
                response => {
                    self.book = response.data;
                })
        }
    }

    const app = Vue.createApp(RootComponent)
    const vm = app.mount('#app')
</script>

</html>